<div class="container">
  <div class="textBox">
    <div class="titleBox">
      <span class="title">Czym jest Hobbista?</span>
    </div>
    <br />
    <div class=subtextBox>
      <span class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam numquam, ut amet saepe est
        dolorum ab enim
        praesentium autem accusamus fuga excepturi nemo quasi ullam dolore vel facere. Velit, fugit. Lorem ipsum, dolor
        sit
        amet consectetur adipisicing elit. Autem exercitationem officia itaque veniam corrupti repellat expedita dolorem
        hic
        eveniet eaque vero repudiandae inventore facilis odio culpa ex, eligendi tempora nam!</span>
    </div>
    <br />
    <div class="welcomeBtn">
      <button mat-raised-button color="primary" (click)="onConfirm()">Wejdź</button>

    </div>
  </div>

</div>
