.footerContainer {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
}
.footerMargin {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  color: #F68234;
}
